<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <img src="../assets/1.png" class="robo"/>
      BOT Shreyasi
    </div>
    <div class="search-bar">
      <a routerLink="/home">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/signup">Signup</a>
    </div>
  </div>  
</nav>
<div style="margin-top: 60px;">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <p>&copy; 2024 Your Company. All rights reserved.</p>
</div>

